.logo {
    font-family: var(--text-font-second);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.header__logo {
    color: var(--main-blue);
}

/* .header__list a {
  display: inline-block;
} */

.header__logo-text--right {
    color: var(--first-text);
    margin-right: 93px;
}

.footer__logo {
    color: var(--main-blue);
    display: block;
    margin-bottom: 20px;
}

.footer__logo-text--right-white {
    color: #ffffff;
}