.client {
    padding-top: 94px;
    padding-bottom: 94px;
    margin-right: auto;
    margin-left: auto;
}

.client-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 50px;
}

.client-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-list__item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 92px;
    width: 170px;
    border: 1px solid #AFB1B8;
    box-sizing: border-box;
    border-radius: 4px;
    color: #AFB1B8;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:not(:first-child) {
        margin-left: 30px;
    }
    &:hover,
    &:focus {
        color: var(--main-blue);
        border: 1px solid var(--main-blue);
    }
}

.client-list__link {
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #afb1b8;

}

.client-list__icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .client-list__link:hover &,
    .client-list__link:focus & {
        fill: var(--main-blue);
    }
}