.portfolio__btns-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.btns-list__item+.btns-list__item {
    margin-left: 8px;
}

.btns-list__btn {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--first-text);
    cursor: pointer;
    background: #f5f4fa;
    border-radius: 4px;
    padding: 6px 22px;
    border: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        color: #ffffff;
        background-color: var(--main-blue);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
            0px 1px 2px rgba(0, 0, 0, 0.08),
            0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}

.portfolio__project-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: 50px;
}

.project-list__item {
    flex-basis: calc(100% / 3 - 30px);
    width: calc((100% - 90px) / 3);
    margin-left: 30px;
    margin-bottom: 30px;
    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
            0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.project-list__text-up {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--first-text);
}

.project-list__text-low {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--text-low);
}

.project-list__name {
    border: 1px solid #eeeeee;
    border-top: none;
    padding: 20px 24px;
}

.project-list__image {
    position: relative;
    overflow: hidden;
}

.project-list__hover {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 63px 24px;
    background: rgba(33, 150, 243, 0.9);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .project-list__link:hover &,
    .project-list__link:focus & {
        transform: translateY(0%);
    }
}